<style>
@import url('https://fonts.googleapis.com/css?family=Coming+Soon');
</style>
html {
    background-color: orange;
    font: normal "Comic Sans MS", cursive,sans-serif;
    }
    
    h1 {
      margin: 2px 0 0 0;
      font: normal 40px "Comic Sans MS", cursive,sans-serif;
      color: blue; 
    }
    
    h3 {
      margin-top: 0px;
      font: normal 18px "Comic Sans MS", cursive,sans-serif; 
    }
    
    a {
      color: blue;
      text-decoration: none;
    }
    
    a:hover {
      color:gold;
      text-decoration: underline;
    }
    
    a:visited {
      color:blue;
    }
    
    img {
      margin: 15px 20px 0 0;
      border: 6px outset blue;
      width: 250px;
    }
